name: YaeLib NuGet Publish

on:
  workflow_dispatch:
    inputs:
      confirm_version:
        description: 'Version already increased?'
        required: true
        type: boolean
      perform_publish:
        description: 'Publish to nuget?'
        required: true
        default: true
        type: boolean

jobs:
  publish:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: YaeAchievementLib
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Build native library
      run: dotnet publish
    - name: Publish to NuGet
      if: ${{ inputs.perform_publish }}
      run: nuget push bin\Release\*.nupkg ${{ secrets.NUGET_API_KEY }} -src https://api.nuget.org/v3/index.json
    - name: Upload nuget package
      uses: actions/upload-artifact@v4
      with:
        name: nupkg
        path: YaeAchievementLib\bin\Release\*.nupkg
